* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: calc(100dvh + 100dvh);
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

.slide1 {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.tunel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: 117dvh;
}

.logo {
  position: absolute;
  left: 47.8dvw;
  top: 47dvh;
  transform: translate(-50%, -50%);
  width: auto;
  height: 8dvh;
  opacity: 0;
  z-index: 1;
}

.linda,
.abuela,
.momo,
.okarun {
  position: absolute;
  left: 50%;
  z-index: 10;
  height: 80dvh;
  width: auto;
}

.linda {
  transform: translate(-160%, 0);
  bottom: -5dvh;
}

.okarun {
  transform: translate(-90%, 0);
  bottom: 0dvh;
}

.abuela {
  bottom: 4dvh;
  transform: translate(-7%, 0);
}

.momo {
  bottom: 0dvh;
  transform: translate(-10%, 0);
}

h1 {
  z-index: 1000;
  position: fixed;
  left: 3dvw;
  top: 3dvh;
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
}

.okarun-ani {
  height: 80%;
  mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 255, 255,1) 5%,
    rgba(0, 0, 0, 0) 75%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 255, 255,1) 5%,
    rgba(0, 0, 0, 0) 75%
  );
   mask-position: center;
   opacity: 0;

}

.chars-p1{
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.hero-text {
  z-index: 1000;
  position: absolute;
  bottom: 15vh;
  left: 60%;
  color: antiquewhite;
  transform: translate(-50%,0);
  font-size: 16.7vh;
  opacity: 0;
}


.slide2 {
  width: 100%;
  height: 100dvh;
  background-color: antiquewhite;
}
