* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: calc(100dvh + 2500px);
  background-color: rgba(0, 0, 0, 1);
}

.slide1 {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.tunel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: 117dvh;
}

.logo {
  position: absolute;
  left: 44.5dvw;
  top: 45.0dvh;
  width: auto;
  height: 8dvh;
  opacity: 0;
  z-index: 1;
}

.linda,
.abuela,
.momo,
.okarun {
  position: absolute;
  left: 50%;
  z-index: 10;
  height: 80dvh;
  width: auto;
}

.linda {
  transform: translate(-160%, 0);
  bottom: -5dvh;
}

.okarun {
  transform: translate(-90%, 0);
  bottom: 0dvh;
}

.abuela {
  bottom: 4dvh;
  transform: translate(-10%, 0);
}

.momo {
  bottom: 0dvh;
  transform: translate(-10%, 0);
}
